In [1]:
import pandas as pd

df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
race_count = pd.Series(df['race'].value_counts(), dtype='int16')
print('Number of each race:\n', race_count)

Number of each race:
 race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int16

In [3]:
avg_age_men = round(df[df['sex'] == 'Male']['age'].mean(),1)
avg_age_men

np.float64(39.4)

In [4]:
# What is the percentage of people who have a Bachelor's degree?
# perc_bachelors_deg = df[df['education'] == ['Bachelors', 'Masters','Doctorate']]

total_education = df['education'].value_counts().sum()
bachelors = df[df['education'] == 'Bachelors']['education'].value_counts().sum()

print(round(bachelors/total_education * 100,1))

16.4

In [5]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
    
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_above_50K = df[(df['education'].isin(['Bachelors','Masters','Doctorate'])) & (df['salary'] == '>50K')].value_counts().sum()
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])].value_counts().sum()
lower_above_50K = df[~(df['education'].isin(['Bachelors','Masters','Doctorate'])) & (df['salary'] == '>50K')].value_counts().sum()
lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])].value_counts().sum()

# percentage with salary >50K
higher_education_rich = round(higher_above_50K /higher_education*100,1)
lower_education_rich = round(lower_above_50K/lower_education*100,1)
print([higher_education_rich, lower_education_rich])

[np.float64(46.5), np.float64(17.4)]

In [6]:
df['education']

0         Bachelors
1         Bachelors
2           HS-grad
3              11th
4         Bachelors
            ...
32556    Assoc-acdm
32557       HS-grad
32558       HS-grad
32559       HS-grad
32560       HS-grad
Name: education, Length: 32561, dtype: object

In [7]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

In [8]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')].value_counts().sum()
num_min_workers

np.int64(2)

In [9]:
rich_percentage = num_min_workers / df[df['hours-per-week'] == min_work_hours].value_counts().sum() * 100
rich_percentage

np.float64(10.0)

In [18]:
# What country has the highest percentage of people that earn >50K?
X = pd.DataFrame(round(df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()  * 100,1))

highest_earning_country = X.loc[X['count'] == X['count'].max()].index[0]
highest_earning_country_percentage = round(df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()  * 100,1).max()

# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().index[0]

In [11]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [12]:
df[df['salary'] == '>50K']['native-country'].value_counts()

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Cuba                    25
Italy                   25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Poland                  12
France                  12
Puerto-Rico             12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Portugal                 4
Ecuador                  4
Haiti                    4
Scotland                 3
Guatemala                3
Thailand                 3
Hungary                  3
Columbia                 2
Peru                     2
Dominican-Republic       2
Trinadad&Tobago          2
Nicaragua                2
Laos                     2
Honduras                 1
Name: count, dtype: int64

In [13]:
df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().index[0]

'Prof-specialty'

In [14]:
X = pd.DataFrame(round(df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()  * 100,1))
X.loc[X['count'] == X['count'].max()].index[0]

'Iran'

In [15]:
len(df['native-country'].unique())

42

In [16]:
Y = pd.DataFrame(df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts())
Y.loc[Y['count'] == Y['count'].max()]

                count
occupation
Prof-specialty     25

In [17]:
round(df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()  * 100,1).max()

np.float64(41.9)